/* 
.product-carousel{
    position: relative;
    overflow: hidden;
    width: fit-content;
    padding:0px 25px;
}

.product-container{
    display: flex;
    padding: 1rem ;
    align-items: center;
    justify-content: center;
}


.pre-btn, .next-btn{
    border: none;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.425);
}
.pre-btn{
    left: 0;
    padding: 0.5rem;
    width: 50px;
    border-radius: 1rem;
}
.next-btn{
    width: 50px;
    padding: 0.5rem;
    right: 0;
    border-radius: 1rem;

}  
.slide-img{
    width: 400px;
    height: 400px;
    border-radius: 2rem;
    animation: 2s fade;

} 
.slide-imgs{
    width: 400px;
    height: 400px;
    border-radius: 2rem;
    animation: 2s fade;
}
.slide-imgss{
    width: 400px;
    height: 400px;
    border-radius: 2rem;
    animation: 2s fade;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
    
} */