/* .image-slider {
    position: relative;
    width: fit-content;
    overflow: hidden;
    background-color: #d11111;
  } */
  
  /* .image-slider img {
    width:400px ;
    height: 300px;
    transition: transform 0.5s ease-in-out;} Add a smooth transition */
  
  /*
   .slide-left {
    transform: translateX(-100%);
  }
  
   .slide-right {
    transform: translateX(100%);
  }
    */
    /* .slide-right:focus .slider img {
      width:400px ;
      height: 300px;
      transition: transform 0.5s;
      animation: op 5s infinite;
    }
    @keyframes op {
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1px;
      }
      
    } */